<body>
  <div class="mainContainer">
    <div id="main">
    <section class="mainContentItem">
   <div class="toppane">Posts</div>
   <app-display></app-display>
</section>
  </div>
    
        <nav ><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" (click)="show=!show">
            Add new post
          </button>
          <div *ngif='show'>
          <app-newpost (onSubmit)="onFormSubmit($event)"></app-newpost>
        </div>
            
        </nav>
        <aside>
           <div class="leftpane">Total posts {{postData.length}}</div>
        </aside>
      

 </div>

 
</body>




  
